<a href="https://colab.research.google.com/github/AldarXV/DA_projects/blob/main/case20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install dataprep

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: dataprep in /usr/local/lib/python3.7/dist-packages (0.4.3)
Requirement already satisfied: python-Levenshtein<0.13.0,>=0.12.2 in /usr/local/lib/python3.7/dist-packages (from dataprep) (0.12.2)
Requirement already satisfied: aiohttp<4.0,>=3.6 in /usr/local/lib/python3.7/dist-packages (from dataprep) (3.8.1)
Requirement already satisfied: bokeh<3,>=2 in /usr/local/lib/python3.7/dist-packages (from dataprep) (2.3.3)
Requirement already satisfied: sqlalchemy<2.0.0,>=1.4.32 in /usr/local/lib/python3.7/dist-packages (from dataprep) (1.4.37)
Requirement already satisfied: regex<2022.0.0,>=2021.8.3 in /usr/local/lib/python3.7/dist-packages (from dataprep) (2021.11.10)
Requirement already satisfied: pystache<0.7.0,>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from dataprep) (0.6.0)
Requirement already satisfied: flask<3,>=2 in /usr/local/lib/python3.7/dist-packages (from dataprep) (2.1.2)
Requirement already satisfied: nltk<4.0.0,>=3.6.7 in /usr/local/lib/python3.7/dist-packages (from dataprep) (3.7)
Requirement already satisfied: pandas<2.0,>=1.1 in /usr/local/lib/python3.7/dist-packages (from dataprep) (1.3.5)
Requirement already satisfied: python-stdnum<2.0,>=1.16 in /usr/local/lib/python3.7/dist-packages (from dataprep) (1.17)
Requirement already satisfied: jinja2<4,>=3 in /usr/local/lib/python3.7/dist-packages (from dataprep) (3.1.2)
Requirement already satisfied: ipywidgets<8.0,>=7.5 in /usr/local/lib/python3.7/dist-packages (from dataprep) (7.7.0)
Requirement already satisfied: scipy<=1.7.1 in /usr/local/lib/python3.7/dist-packages (from dataprep) (1.4.1)
Requirement already satisfied: dask[array,dataframe,delayed]<2022.0,>=2021.11 in /usr/local/lib/python3.7/dist-packages (from dataprep) (2021.12.0)
Requirement already satisfied: wordcloud<2.0,>=1.8 in /usr/local/lib/python3.7/dist-packages (from dataprep) (1.8.2.2)
Requirement already satisfied: varname<0.9.0,>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from dataprep) (0.8.3)
Requirement already satisfied: numpy<2.0,>=1.21 in /usr/local/lib/python3.7/dist-packages (from dataprep) (1.21.6)
Requirement already satisfied: flask_cors<4.0.0,>=3.0.10 in /usr/local/lib/python3.7/dist-packages (from dataprep) (3.0.10)
Requirement already satisfied: pydantic<2.0,>=1.6 in /usr/local/lib/python3.7/dist-packages (from dataprep) (1.8.2)
Requirement already satisfied: jsonpath-ng<2.0,>=1.5 in /usr/local/lib/python3.7/dist-packages (from dataprep) (1.5.3)
Requirement already satisfied: metaphone<0.7,>=0.6 in /usr/local/lib/python3.7/dist-packages (from dataprep) (0.6)
Requirement already satisfied: python-crfsuite<0.10.0,>=0.9.7 in /usr/local/lib/python3.7/dist-packages (from dataprep) (0.9.8)
Requirement already satisfied: tqdm<5.0,>=4.48 in /usr/local/lib/python3.7/dist-packages (from dataprep) (4.64.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4.0,>=3.6->dataprep) (6.0.2)
Requirement already satisfied: asynctest==0.13.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4.0,>=3.6->dataprep) (0.13.0)
Requirement already satisfied: typing-extensions>=3.7.4 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4.0,>=3.6->dataprep) (4.1.1)
Requirement already satisfied: charset-normalizer<3.0,>=2.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4.0,>=3.6->dataprep) (2.1.0)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4.0,>=3.6->dataprep) (21.4.0)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4.0,>=3.6->dataprep) (1.2.0)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4.0,>=3.6->dataprep) (1.7.2)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4.0,>=3.6->dataprep) (1.3.0)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4.0,>=3.6->dataprep) (4.0.2)
Requirement already satisfied: tornado>=5.1 in /usr/local/lib/python3.7/dist-packages (from bokeh<3,>=2->dataprep) (5.1.1)
Requirement already satisfied: packaging>=16.8 in /usr/local/lib/python3.7/dist-packages (from bokeh<3,>=2->dataprep) (21.3)
Requirement already satisfied: pillow>=7.1.0 in /usr/local/lib/python3.7/dist-packages (from bokeh<3,>=2->dataprep) (7.1.2)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from bokeh<3,>=2->dataprep) (2.8.2)
Requirement already satisfied: PyYAML>=3.10 in /usr/local/lib/python3.7/dist-packages (from bokeh<3,>=2->dataprep) (3.13)
Requirement already satisfied: fsspec>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from dask[array,dataframe,delayed]<2022.0,>=2021.11->dataprep) (2022.5.0)
Requirement already satisfied: partd>=0.3.10 in /usr/local/lib/python3.7/dist-packages (from dask[array,dataframe,delayed]<2022.0,>=2021.11->dataprep) (1.2.0)
Requirement already satisfied: cloudpickle>=1.1.1 in /usr/local/lib/python3.7/dist-packages (from dask[array,dataframe,delayed]<2022.0,>=2021.11->dataprep) (1.3.0)
Requirement already satisfied: toolz>=0.8.2 in /usr/local/lib/python3.7/dist-packages (from dask[array,dataframe,delayed]<2022.0,>=2021.11->dataprep) (0.11.2)
Requirement already satisfied: click>=8.0 in /usr/local/lib/python3.7/dist-packages (from flask<3,>=2->dataprep) (8.1.3)
Requirement already satisfied: Werkzeug>=2.0 in /usr/local/lib/python3.7/dist-packages (from flask<3,>=2->dataprep) (2.1.2)
Requirement already satisfied: importlib-metadata>=3.6.0 in /usr/local/lib/python3.7/dist-packages (from flask<3,>=2->dataprep) (4.11.4)
Requirement already satisfied: itsdangerous>=2.0 in /usr/local/lib/python3.7/dist-packages (from flask<3,>=2->dataprep) (2.1.2)
Requirement already satisfied: Six in /usr/local/lib/python3.7/dist-packages (from flask_cors<4.0.0,>=3.0.10->dataprep) (1.15.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=3.6.0->flask<3,>=2->dataprep) (3.8.0)
Requirement already satisfied: widgetsnbextension~=3.6.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets<8.0,>=7.5->dataprep) (3.6.0)
Requirement already satisfied: nbformat>=4.2.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets<8.0,>=7.5->dataprep) (5.4.0)
Requirement already satisfied: ipython-genutils~=0.2.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets<8.0,>=7.5->dataprep) (0.2.0)
Requirement already satisfied: ipython>=4.0.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets<8.0,>=7.5->dataprep) (5.5.0)
Requirement already satisfied: ipykernel>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from ipywidgets<8.0,>=7.5->dataprep) (4.10.1)
Requirement already satisfied: traitlets>=4.3.1 in /usr/local/lib/python3.7/dist-packages (from ipywidgets<8.0,>=7.5->dataprep) (5.1.1)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets<8.0,>=7.5->dataprep) (1.1.0)
Requirement already satisfied: jupyter-client in /usr/local/lib/python3.7/dist-packages (from ipykernel>=4.5.1->ipywidgets<8.0,>=7.5->dataprep) (5.3.5)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0->ipywidgets<8.0,>=7.5->dataprep) (0.8.1)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0->ipywidgets<8.0,>=7.5->dataprep) (4.4.2)
Requirement already satisfied: pexpect in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0->ipywidgets<8.0,>=7.5->dataprep) (4.8.0)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0->ipywidgets<8.0,>=7.5->dataprep) (2.6.1)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0->ipywidgets<8.0,>=7.5->dataprep) (0.7.5)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0->ipywidgets<8.0,>=7.5->dataprep) (57.4.0)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0->ipywidgets<8.0,>=7.5->dataprep) (1.0.18)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.7/dist-packages (from jinja2<4,>=3->dataprep) (2.0.1)
Requirement already satisfied: ply in /usr/local/lib/python3.7/dist-packages (from jsonpath-ng<2.0,>=1.5->dataprep) (3.11)
Requirement already satisfied: jupyter-core in /usr/local/lib/python3.7/dist-packages (from nbformat>=4.2.0->ipywidgets<8.0,>=7.5->dataprep) (4.10.0)
Requirement already satisfied: jsonschema>=2.6 in /usr/local/lib/python3.7/dist-packages (from nbformat>=4.2.0->ipywidgets<8.0,>=7.5->dataprep) (4.3.3)
Requirement already satisfied: fastjsonschema in /usr/local/lib/python3.7/dist-packages (from nbformat>=4.2.0->ipywidgets<8.0,>=7.5->dataprep) (2.15.3)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=2.6->nbformat>=4.2.0->ipywidgets<8.0,>=7.5->dataprep) (0.18.1)
Requirement already satisfied: importlib-resources>=1.4.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=2.6->nbformat>=4.2.0->ipywidgets<8.0,>=7.5->dataprep) (5.7.1)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from nltk<4.0.0,>=3.6.7->dataprep) (1.1.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=16.8->bokeh<3,>=2->dataprep) (3.0.9)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas<2.0,>=1.1->dataprep) (2022.1)
Requirement already satisfied: locket in /usr/local/lib/python3.7/dist-packages (from partd>=0.3.10->dask[array,dataframe,delayed]<2022.0,>=2021.11->dataprep) (1.0.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython>=4.0.0->ipywidgets<8.0,>=7.5->dataprep) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy<2.0.0,>=1.4.32->dataprep) (1.1.2)
Requirement already satisfied: executing<0.9.0,>=0.8.3 in /usr/local/lib/python3.7/dist-packages (from varname<0.9.0,>=0.8.1->dataprep) (0.8.3)
Requirement already satisfied: asttokens<3.0.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from varname<0.9.0,>=0.8.1->dataprep) (2.0.5)
Requirement already satisfied: pure_eval<1.0.0 in /usr/local/lib/python3.7/dist-packages (from varname<0.9.0,>=0.8.1->dataprep) (0.2.2)
Requirement already satisfied: notebook>=4.4.1 in /usr/local/lib/python3.7/dist-packages (from widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (5.3.1)
Requirement already satisfied: Send2Trash in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (1.8.0)
Requirement already satisfied: nbconvert in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (5.6.1)
Requirement already satisfied: terminado>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (0.13.3)
Requirement already satisfied: pyzmq>=13 in /usr/local/lib/python3.7/dist-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets<8.0,>=7.5->dataprep) (23.1.0)
Requirement already satisfied: ptyprocess in /usr/local/lib/python3.7/dist-packages (from terminado>=0.8.1->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (0.7.0)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from wordcloud<2.0,>=1.8->dataprep) (3.2.2)
Requirement already satisfied: idna>=2.0 in /usr/local/lib/python3.7/dist-packages (from yarl<2.0,>=1.0->aiohttp<4.0,>=3.6->dataprep) (2.10)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->wordcloud<2.0,>=1.8->dataprep) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->wordcloud<2.0,>=1.8->dataprep) (1.4.3)
Requirement already satisfied: testpath in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (0.6.0)
Requirement already satisfied: bleach in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (5.0.0)
Requirement already satisfied: entrypoints>=0.2.2 in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (0.4)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (1.5.0)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (0.7.1)
Requirement already satisfied: mistune<2,>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (0.8.4)
Requirement already satisfied: webencodings in /usr/local/lib/python3.7/dist-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (0.5.1)

In [ ]:
from dataprep.eda import create_report
import numpy as np
import pandas as pd

NumExpr defaulting to 2 threads.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/кейс_20.csv')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 377741 entries, 0 to 377740
Data columns (total 20 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   ProductName           377741 non-null  object
 1   ProductCategory       377741 non-null  object
 2   ItemGroup             377741 non-null  object
 3   KitType               377741 non-null  object
 4   Channels              377741 non-null  int64
 5   Demographic           377741 non-null  object
 6   RetailPrice           377741 non-null  float64
 7   OrderNumber           377741 non-null  object
 8   OrderDate             377741 non-null  object
 9   Quantity              377741 non-null  int64
 10  UnitPrice             377741 non-null  float64
 11  DiscountAmount        377741 non-null  float64
 12  SaleAmount            377741 non-null  float64
 13  OrderProcessing       377741 non-null  int64
 14  StateName             377741 non-null  object
 15  RegionName            377741 non-null  object
 16  ABC                   377741 non-null  object
 17  XYZ                   377741 non-null  object
 18  ABC-XYZ               377741 non-null  object
 19  OrderProcessingSpeed  377741 non-null  object
dtypes: float64(4), int64(3), object(13)
memory usage: 57.6+ MB

В таблице 20 столбцов и 377741 строк. Пропущенных данных нет. Изменим тип данных для OrderDate

In [ ]:
df['OrderDate'] = pd.to_datetime(df['OrderDate'], infer_datetime_format=True)

#EDA и подготовка данных

In [ ]:
#create_report(df).show()

1. Следует удалить столбцы DiscountAmount, OrderNumber, так как они неинформативны.
2. RetailPrice, UnitPrice, SaleAmount - переменные коллинеарны, следует удалить столбцы RetailPrice, UnitPrice.

In [ ]:
df=df.drop(['DiscountAmount', 'OrderNumber', 'RetailPrice', 'UnitPrice', 'ABC', 'XYZ'], axis=1)

#Регрессия

In [ ]:
df['Year']=df['OrderDate'].dt.year
df['Month']=df['OrderDate'].dt.month

In [ ]:
df.head()

,ProductName,ProductCategory,ItemGroup,KitType,Channels,Demographic,OrderDate,Quantity,SaleAmount,OrderProcessing,StateName,RegionName,ABC-XYZ,OrderProcessingSpeed,Year,Month
0,Piper Cub 3 Channel,Trainer,Airplane,RTF,3,Beginner,2017-01-01,1,69.95,8,Indiana,Midwest,CX,Expired,2017,1
1,Piper Cub 3 Channel,Trainer,Airplane,RTF,3,Beginner,2017-01-02,1,69.95,2,Illinois,Midwest,CX,OnTime,2017,1
2,Piper Cub 3 Channel,Trainer,Airplane,RTF,3,Beginner,2017-01-06,1,69.95,3,Ohio,Midwest,CX,Expired,2017,1
3,Piper Cub 3 Channel,Trainer,Airplane,RTF,3,Beginner,2017-01-08,1,69.95,3,Arizona,Southern,CX,Expired,2017,1
4,Piper Cub 3 Channel,Trainer,Airplane,RTF,3,Beginner,2017-01-08,1,69.95,2,California,Southwest,CX,OnTime,2017,1

In [ ]:
df=df.drop('OrderDate', axis=1)

In [ ]:
df

,ProductName,ProductCategory,ItemGroup,KitType,Channels,Demographic,Quantity,SaleAmount,OrderProcessing,StateName,RegionName,ABC-XYZ,OrderProcessingSpeed,Year,Month
0,Piper Cub 3 Channel,Trainer,Airplane,RTF,3,Beginner,1,69.95,8,Indiana,Midwest,CX,Expired,2017,1
1,Piper Cub 3 Channel,Trainer,Airplane,RTF,3,Beginner,1,69.95,2,Illinois,Midwest,CX,OnTime,2017,1
2,Piper Cub 3 Channel,Trainer,Airplane,RTF,3,Beginner,1,69.95,3,Ohio,Midwest,CX,Expired,2017,1
3,Piper Cub 3 Channel,Trainer,Airplane,RTF,3,Beginner,1,69.95,3,Arizona,Southern,CX,Expired,2017,1
4,Piper Cub 3 Channel,Trainer,Airplane,RTF,3,Beginner,1,69.95,2,California,Southwest,CX,OnTime,2017,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
377736,3CAX-B Helicopter,Co-Axial,Helicopter,RTF,3,Novice,1,63.55,0,South Dakota,Midwest,BY,OnTime,2019,12
377737,Piper Cub 4 Channel,Trainer,Airplane,RTF,4,Intermediate,1,193.55,0,Oklahoma,Midwest,AX,OnTime,2019,12
377738,Tailspin Heli - Max Pro Flight - 6ch,Collective pitch,Helicopter,KIT,6,Professional,1,560.25,0,Georgia,Southern,AY,OnTime,2019,12
377739,Tailspin Heli - Max Pro Flight - 6ch,Collective pitch,Helicopter,KIT,6,Professional,1,579.55,0,Washington,Pacific Northwest,AY,OnTime,2019,12
377740,3CAX-B Helicopter,Co-Axial,Helicopter,RTF,3,Novice,1,63.55,0,Wisconsin,Midwest,BY,OnTime,2019,12

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingRegressor
df1 = df[['ProductName','ProductCategory','ItemGroup','KitType','Channels','Demographic', 'RegionName', 'StateName','SaleAmount', 'Year',	'Month']]
df1=df1.groupby(['ProductName','ProductCategory','ItemGroup', 'KitType','Channels','Demographic', 'RegionName', 'StateName', 'Year','Month'], as_index=False ).mean()

In [ ]:
df1_dummies = pd.get_dummies(df1)
df1_dummies

,Channels,Year,Month,SaleAmount,ProductName_3CAX-B Helicopter,ProductName_3CFP-I Helicopter,ProductName_4CAX-B Helicopter,ProductName_4CFP-I Helicopter,ProductName_6CCP-A Helicopter,ProductName_P47 4 Channel,...,StateName_South Dakota,StateName_Tennessee,StateName_Texas,StateName_Utah,StateName_Vermont,StateName_Virginia,StateName_Washington,StateName_West Virginia,StateName_Wisconsin,StateName_Wyoming
0,3,2017,3,49.95,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,3,2017,4,49.95,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,2017,5,49.95,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,2017,6,39.95,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,3,2017,7,49.95,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27813,4,2019,3,196.95,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27814,4,2019,5,196.95,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27815,4,2019,6,196.95,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27816,4,2019,11,216.65,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27817,4,2019,12,216.65,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
df1_dummies=df1_dummies.sort_values(by=['Year', 'Month'])
df1_dummies

,Channels,Year,Month,SaleAmount,ProductName_3CAX-B Helicopter,ProductName_3CFP-I Helicopter,ProductName_4CAX-B Helicopter,ProductName_4CFP-I Helicopter,ProductName_6CCP-A Helicopter,ProductName_P47 4 Channel,...,StateName_South Dakota,StateName_Tennessee,StateName_Texas,StateName_Utah,StateName_Vermont,StateName_Virginia,StateName_Washington,StateName_West Virginia,StateName_Wisconsin,StateName_Wyoming
10058,3,2017,1,69.95,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10094,3,2017,1,69.95,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10409,3,2017,1,69.95,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10619,3,2017,1,69.95,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10791,3,2017,1,69.95,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27713,4,2019,12,216.65,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
27740,4,2019,12,216.65,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
27762,4,2019,12,208.75,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
27795,4,2019,12,216.65,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27817,4,2019,12,216.65,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(df1_dummies.drop(columns='SaleAmount').to_numpy(), df1_dummies['SaleAmount'].to_numpy(), test_size = 0.3, random_state = 1)

In [ ]:
gradient_boosted = GradientBoostingRegressor(random_state=2)
gradient_boosted.fit(X_train, y_train)
model_pred = gradient_boosted.predict(X_test)
print('mae= ', np.mean(abs(model_pred- y_test)))

mae=  4.9529227239756235

Значение mae=4.953 больше полученного в Knime (2.899).

In [ ]:
np.max(df1_dummies['SaleAmount'])

579.55

#Классификация

In [ ]:
df.columns

Index(['ProductName', 'ProductCategory', 'ItemGroup', 'KitType', 'Channels',
       'Demographic', 'Quantity', 'SaleAmount', 'OrderProcessing', 'StateName',
       'RegionName', 'ABC-XYZ', 'OrderProcessingSpeed', 'Year', 'Month'],
      dtype='object')

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

In [ ]:
df2 = df[['ProductName','ProductCategory','ItemGroup','KitType','Channels','Demographic', 'RegionName', 'StateName', 'ABC-XYZ', 'OrderProcessingSpeed']]

In [ ]:
df2_dummies = pd.get_dummies(df2)

In [ ]:
df2_dummies.columns

Index(['Channels', 'ProductName_3CAX-B Helicopter',
       'ProductName_3CFP-I Helicopter', 'ProductName_4CAX-B Helicopter',
       'ProductName_4CFP-I Helicopter', 'ProductName_6CCP-A Helicopter',
       'ProductName_P47 4 Channel', 'ProductName_P47 5 Channel',
       'ProductName_P51', 'ProductName_Piper Cub 3 Channel',
       'ProductName_Piper Cub 4 Channel', 'ProductName_SkyTrainer',
       'ProductName_Tailspin Aviator Mk2-11',
       'ProductName_Tailspin Aviator Mk2-12',
       'ProductName_Tailspin Aviator Mk2-15',
       'ProductName_Tailspin Heli - Co-Ax Pro Mk I - 4ch',
       'ProductName_Tailspin Heli - Max Pro Flight - 6ch',
       'ProductName_Tailspin Heli - Pro Mk III - 5ch',
       'ProductName_Tailspin Warbird BM32',
       'ProductName_Trainer - Tailspin GL-120',
       'ProductName_Trainer - Tailspin GL-155', 'ProductCategory_Co-Axial',
       'ProductCategory_Collective pitch', 'ProductCategory_Fixed pitch',
       'ProductCategory_Glider', 'ProductCategory_Trainer',
       'ProductCategory_Warbird', 'ItemGroup_Airplane', 'ItemGroup_Helicopter',
       'KitType_KIT', 'KitType_RTF', 'Demographic_Advanced',
       'Demographic_Beginner', 'Demographic_Intermediate',
       'Demographic_Novice', 'Demographic_Professional', 'RegionName_Midwest',
       'RegionName_New England', 'RegionName_Northeast',
       'RegionName_Pacific Northwest', 'RegionName_Southern',
       'RegionName_Southwest', 'StateName_Alabama', 'StateName_Alaska',
       'StateName_Arizona', 'StateName_Arkansas', 'StateName_California',
       'StateName_Colorado', 'StateName_Connecticut', 'StateName_Delaware',
       'StateName_Florida', 'StateName_Georgia', 'StateName_Hawaii',
       'StateName_Idaho', 'StateName_Illinois', 'StateName_Indiana',
       'StateName_Iowa', 'StateName_Kansas', 'StateName_Kentucky',
       'StateName_Louisiana', 'StateName_Maine', 'StateName_Maryland',
       'StateName_Massachusetts', 'StateName_Michigan', 'StateName_Minnesota',
       'StateName_Mississippi', 'StateName_Missouri', 'StateName_Montana',
       'StateName_Nebraska', 'StateName_Nevada', 'StateName_New Hampshire',
       'StateName_New Jersey', 'StateName_New Mexico', 'StateName_New York',
       'StateName_North Carolina', 'StateName_North Dakota', 'StateName_Ohio',
       'StateName_Oklahoma', 'StateName_Oregon', 'StateName_Pennsylvania',
       'StateName_Rhode Island', 'StateName_South Carolina',
       'StateName_South Dakota', 'StateName_Tennessee', 'StateName_Texas',
       'StateName_Utah', 'StateName_Vermont', 'StateName_Virginia',
       'StateName_Washington', 'StateName_West Virginia',
       'StateName_Wisconsin', 'StateName_Wyoming', 'ABC-XYZ_AX', 'ABC-XYZ_AY',
       'ABC-XYZ_BX', 'ABC-XYZ_BY', 'ABC-XYZ_CX', 'ABC-XYZ_CY',
       'OrderProcessingSpeed_Expired', 'OrderProcessingSpeed_OnTime'],
      dtype='object')

In [ ]:
df2_dummies=df2_dummies.drop('OrderProcessingSpeed_Expired', axis=1)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(df2_dummies.drop(columns='OrderProcessingSpeed_OnTime').to_numpy(), df2_dummies['OrderProcessingSpeed_OnTime'].to_numpy(), test_size = 0.3, random_state = 1)

In [ ]:
logReg = LogisticRegression(max_iter=300)
logReg.fit(X_train, y_train)
print('Точность')
print('Логистическая регрессия: ', round(logReg.score(X_test, y_test), 4))

random_forest = RandomForestClassifier(random_state=1)
random_forest.fit(X_train, y_train)
print('Random forest', round(random_forest.score(X_test, y_test), 4))

Точность
Логистическая регрессия:  0.5612
Random forest 0.5568